* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  background-color: rgb(122, 196, 136);
  padding: 10px;
  text-align: center;
}

.content {
  background-color: #b3fcce;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 80vh;
}

.main {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.footer {
  width: 100%;
  background-color: gray;
  padding: 10px;
  text-align: center;
}

.navLink {
  padding: 5px;
  margin: 0px 10px;
}

.courseFormInputRow {
  display: flex;
  flex-direction: row;
}